<form method="post" action="/prehe/prehes/<%= preId %>?_method=PUT">
    <label for="preTitle">Title: </label>
    <input type="text" name="Type" value="<%= pre.type %>" id="preTitle">
    <label for="preUrl">Url: </label>
    <input type="text" name="url" value="<%= pre.img_url %>" id="preUrl">

    <button type="submit">edit Prehe</button>
</form>