<h2>Make a new Pre:</h2>

<form method="post" action="/prehe/prehes">
    <label for="preType">Type: </label>
    <input type="text" id="preType" name="type">

    <label for="preImg">IMG URL: </label>
    <input type="text" name="url_url" id="preImg">

    <button type="submit">Create Pre</button>
</form>