<nav>
    <ul>
        <li>
            <a href="prehe/prehes">All Prehistorics</a>
        </li>
        <li>
            <a href="prehe/prehes/newp">New Prehe Form</a>
        </li>
    </ul>
</nav>