<nav>
    <ul>
        <li>
            <a href="dinos/dinosaurs">All Dinosaurs</a>
        </li>
        <li>
            <a href="dinos/dinosaurs/new">New Dinosaur Form</a>
        </li>
    </ul>
</nav>